<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">
        CRUD DATA MAHASISWA DENGAN EXPRESS-JS
      </h2>
      <div class="row mt-3">
        <div class="col-auto col-lg-12 mt-2">
          <%- include('message.ejs') %>
        </div>
        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2">
          <%- include('table.ejs') %>
        </div>
      </div>
    </div>
    <!-- Add Modal -->
    <%- include('add_modal.ejs') %>
    <!-- Edit Modal -->
    <%- include('edit_modal.ejs') %>
    <!-- JS -->
    <%- include('js.ejs') %>

    <script>
      // Menampilkan modal dan memanggil class button-update
      $("#dataTable").on("click", ".button-update", function () {
        // membuat variabel untuk mengambil data name dan id yang sudah dibuat di file edit_moduke.ejs
        let id = $(this).data("id");
        let nama = $(this).data("nama");
        let nim = $(this).data("nim");
        let jurusan = $(this).data("jurusan");
        let alamat = $(this).data("alamat");
        /*
         * memanggil id edit-modal yang ada di file edit_modal.ejs
         * dan membuat method modal
         */
        $("#edit-modal").modal("show");
        // Mengirim id dan name melalui class(.)  dan valuenya mengambil dari id yang ada di let atas
        $(".id").val(id);
        $(".nama").val(nama);
        $(".nim").val(nim);
        $(".jurusan").val(jurusan);
        $(".alamat").val(alamat);
      });
    </script>
  </body>
</html>
